body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: #efead8;
  --element-primary: #5f7161;
  --element-secondary: #6d8b74;
  --text-primary: #ffffff;
  --text-secondary: #f0a04b;
}

#modal-root {
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}
