.backdrop {
  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  background-color: var(--element-primary);
}

.header {
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  color: var(--text-primary);
}

.submit_wrapper {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.submit {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--text-secondary);

  cursor: pointer;
}

.loader {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    transparent,
    transparent 40%,
    var(--text-secondary)
  );
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loader:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background-color: var(--element-primary);
  border-radius: 50%;
  z-index: 1000;
}

.loader:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background-color: var(--element-primary);
  border-radius: 50%;
  z-index: 1000;
}

.errorMessage {
  color: red;
}
